*{
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    background-color: #FAFAFC;
    color: #2C2D35;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* -------------------------header------------------- */
#hd{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3d3e51cc;
    padding: 10px 0px;
}
#logo{
    padding-left: 15px;
    display: flex;
    flex: 2;
    align-items: center;
    gap: 10px;
    font-weight: 1000;
    font-size: 1rem;
    color: #fff;
}
#logo-badge{
    background-color: rgba(230, 131, 230, 0.281);
    padding: 4px 8px;
    border-radius: 6px;
    font-family: monospace;
}
#nav{
    flex: 6;
    display: flex;
    justify-content: space-around;
}
#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}
#nav a:hover{
    font-weight: 900;
    text-decoration: underline;
    color: #2C2D35;
}
#search{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search label{
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    font-weight: 500;
}
#search input{
    padding: 10px;
    height: 25px;
    border-radius: 7px;
    margin: 0 10px;
    border: 1px solid gray;
}
/* ---------------------hero------------------------ */
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px auto;
    text-align: center;
    position: relative;
}
#hero__title{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}
#hero__title h1{
    color: #3d3e51;
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
}
#star__icon{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1.5rem;
}
#hero__grid{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
}
#hero__left{
    margin-left: 10px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-start;
}
#hero__left p{
    margin-left: 25px;
    color: #6b7280;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#comp{
    margin-left: 45px;
    position: relative;
}
#comp__bg{
    width: 120px;
    height: 120px;
    background-color: #3d3e51;
    border-radius: 50%;
}
#comp__badge{
    position: absolute;
    font-size: 6rem;
    top: -2px;
    left: -20px;
}
#hero__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo__bg{
    width: 320px;
    height: 330px;
    background-color: #3d3e51 ;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
#photo__bg img{
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 15px;
}
#hero__right{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 20px;
}
#right__icons{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
#right__tags{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
#right__tags span{
    background: #E8E4F1;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 600;
}
#hero__right p{
    color:#6b7280 ;
    font-size: 1rem;
    line-height: 1.5;
}
#hero__right button{
    align-self: flex-end;
    height: 40px;
    border-radius: 10px;
    width: 200px;
    background-color: #eee;
    color: #3d3e51;
    border:2px solid #3d3e51;
}
#hero__right button:hover{
    background-color: #3d3e51;
    color: #eee;
}
/*-------------------------------------------- projects-------------------------------------------- */
#prjs{
    gap: 0.5vw;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-rows: 330px 350px;
    grid-template-columns: 14vw 14vw 14vw 11vw 22vw 20vw;
    grid-template-areas: 
    "prj01 prj01 prj01 prj02 prj02 prj05"
    "prj03 prj03 prj04 prj04 prj04 prj05"
    ;
}
#prjs__title{
    padding: 10px 0;
    color: #3d3e51;
    font-family: "DM Serif Display", serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#prjs__title h2{
    text-decoration: underline;
    font-family: "DM Serif Display", serif ;
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
}
#prjs__title p{
    margin-top: 10px;
    text-align: center;
    color: #3d3e51;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.prj__cont{
    gap: 1vw;
    border-radius: 20px;
    background-color: #3d3e5161;
    color: #3d3e51;
}
.prj__cont h3{
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
    align-self: flex-start;
}
.prj__cont h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.prj__cont a{
    text-decoration: none;
    color: #6b7280;
    font-weight: 700;
    align-self: flex-end;
}
.prj__cont a:hover{
    text-decoration: underline;
}
#prj01{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: prj01;
}
#prj01 img{
    width: 200px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}
#prj02{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: prj02;
}
#prj02 img{
    width: 180px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}
#prj03{
    grid-area: prj03;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#prj03 img{
    width: 150px;
    height: 270px;
    border-radius: 20px;
    object-fit: cover;
}
#prj04{
    grid-area: prj04;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#prj04 img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}
#prj05{
    grid-area: prj05;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding: 0 20px;
}
#prj05 img{
    width: 90%;
    height: 320px;
    border-radius: 25px;
    object-fit: cover;
}
/*-------------------------------------------- footer --------------------------------------------*/
.footer {
    margin-top: 20px;
    background: #3d3e51;
    color: #fff;
    padding: 60px 8% 20px 20px;
    border-radius: 10px 10px 0 0;
}

.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
    padding-bottom: 45px;
}

.footer__text h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.footer__text p {
    max-width: 400px;
    line-height: 1.8;
    color: #e7d5d5;
}

.footer h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__links a {
    color: #e7d5d5;
    text-decoration: none;
    transition: .3s;
}

.footer__links a:hover {
    color: #6b7280;
    transform: translateX(5px);
}

.social__icons {
    display: flex;
    gap: 12px;
}

.social__icons a {
    width: 42px;
    height: 42px;
    border: 1px solid #e7d5d5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.social__icons a:hover {
    background: #6b7280;
    color: #581c26;
    border-color: #6b7280;
    transform: translateY(-4px);
}

.footer__bottom {
    border-top: 1px solid rgba(255,255,255,.2);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: #d9c4c4;
    font-size: 14px;
}


/*-------------------------------------------- media query --------------------------------------------*/
/*-------------------------------------------- medium screen-------------------------------------------- */
@media screen and (min-width: 780px) and (max-width: 1024px){
    #search{
        display: none;
    }
    /* -------------------------hero------------------- */
    #hero__grid{
        margin:0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }
    /* -------------------------prjs------------------- */
    #prjs{
        grid-template-rows: 270px 270px 290px;
        grid-template-columns: repeat(6,15.8vw);
        grid-template-areas: 
        "prj01 prj01 prj01 prj02 prj02 prj02"
        "prj05 prj05 prj03 prj03 prj03 prj03"
        "prj05 prj05 prj04 prj04 prj04 prj04"
    ;
    }
#prj01 img{
    width: 50%;
    height: 90%;
    object-fit: cover;
}
#prj02 img{
    width: 50%;
    height: 90%;
    object-fit: cover;
}
#prj03 img{
    width: 150px;
    height: 90%;
    object-fit: cover;
}
#prj04 img{
    width: 300px;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
}
#prj05 img{
    width: 90%;
    height: 40%;
    border-radius: 25px;
    object-fit: cover;
}
}
/*-------------------------------------------- small screen-------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 780px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* -------------------------header------------------- */
    #hd{
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        padding: 10px ;
    }
    #logo{
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    #nav{
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    #search{
        display: none;
    }
    /* -------------------------hero------------------- */
    #hero__title{
        margin-bottom: 0px;
    }
    #hero__title h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
    #star__icon{
        display: none;
    }
    #hero__grid{
        margin-left: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #hero__left{
        flex: 1;
        margin: 60px 45px 80px 10px;
    }
    #hero__center{
        margin-top: -52px;
        margin-bottom: 20px;
    }
    #hero__right{
        flex: 2;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #comp{
        display: none;
    }
    /* -------------------------prjs------------------- */
    #prjs{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .prj__cont{
        height: 420px;
        width: 90%;
    }
    #prj01 img{
        width: 60%;
        height: 90%;
        object-fit: cover;
    }
    #prj02 img{
        width: 60%;
        height: 90%;
        object-fit: cover;
    }
    #prj03 img{
        width: 60%;
        height: 90%;
        object-fit: cover;
    }
    #prj04{
        padding-top: 40px;
        flex-direction: column-reverse;
        position: relative;
    }
    #prj04 h3{
        position: absolute;
        top: 10px;
    }
    #prj04 img{
        width: 80%;
        height: 45%;
        border-radius: 20px;
        object-fit: cover;
    }
    #prj05{
        padding-bottom: 40px;
    }
    #prj05 img{
        width: 80%;
        height: 45%;
        border-radius: 20px;
        object-fit:cover;
    }
    /* -------------------------footer------------------- */
    .footer {
        width: 100%;
        box-sizing: border-box;
        padding: 45px 25px 20px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 35px;
    }

    .footer__brand p {
        max-width: 100%;
    }

    .footer__links {
        align-items: center;
    }

    .social__icons {
        justify-content: center;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;
    }
}